<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.menglei.account.api.accountapi.dao.IFamilyDAOI">

<sql id="Base_Column_List">
    `id` as `id` ,
    `name` as `name` ,
    `password` as `password` ,
    `user_id` as `userId` ,
    `deposit` as `deposit` ,
    `receivable` as `receivable` ,
    `payable` as `payable` ,
    `description` as `description` ,
    `status` as `status` ,
    `creator` as `creator` ,
    `create_time` as `createTime` ,
    `update_time` as `updateTime` ,
    `updater` as `updater` ,
    `address` as `address`
</sql>

</mapper>
