<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.menglei.account.api.accountapi.dao.IResourceDAO">


<sql id="Base_Column_List">
    `id` as `id` ,
    `parent_id` as `parentId` ,
    `name` as `name` ,
    `level` as `level` ,
    `type` as `type` ,
    `sort` as `sort` ,
    `resource_key` as `resourceKey` ,
    `resource_url` as `resourceUrl` ,
    `description` as `description` ,
    `status` as `status` ,
    `creater` as `creater` ,
    `create_time` as `createTime` ,
    `update_time` as `updateTime` ,
    `updater` as `updater`
</sql>



</mapper>
