<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.menglei.account.api.accountapi.dao.IUserFamilyDAO">

<sql id="Base_Column_List">
    `user_id` as `userId` ,
    `family_id` as `familyId`
</sql>

</mapper>
