<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.menglei.account.api.accountapi.dao.IUserFamilyDAO">

<sql id="Base_Column_List">
    `user_id` as `userId` ,
    `family_id` as `familyId`
</sql>

    <!--新增-->
    <insert id="add" parameterType="UserFamily">
        INSERT INTO user_family(user_id,family_id)VALUES (#{userId},#{familyId})
    </insert>

    <select id="getByUserId" parameterType="java.lang.Long" resultType="UserFamily">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_family
        WHERE user_id = #{userId}
    </select>

    <select id="getByFamilyId" parameterType="java.lang.Long" resultType="UserFamily">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user_family
        WHERE family_id = #{familyId}
    </select>

</mapper>
