<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.menglei.account.api.accountapi.dao.IUserDAOI">
<!--
insert 单条插入

update 按ID更新一条
updateNull 按ID更新一条
updateMap  按ID更新一条
updateByCondition 按条件更新一批

deleteById 按ID删除
deleteByIdList 按id列表删除
deleteByCondition 按组合条件删除
deleteByProperty 按单一条件删除

findById 按ID查找
findByProperty 按单一条件查找一条记录
findListByProperty 按单一条件查询所有记录
findAll 无条件查询全部记录

queryPage 按组合条件分页查询
queryCount 按组合条件查询总数
queryLike 按组合条件模糊查询
queryList 按组合条件查询
queryOne 按组合条件查询一条
selectMaxId 返回表内最大id
-->

<sql id="Base_Column_List">
    `id` as `id` ,
    `user_name` as `userName` ,
    `password` as `password` ,
    `name` as `name` ,
    `sex` as `sex` ,
    `birthday` as `birthday` ,
    `telephone` as `telephone` ,
    `email` as `email` ,
    `description` as `description` ,
    `status` as `status` ,
    `creator` as `creator` ,
    `create_time` as `createTime` ,
    `update_time` as `updateTime` ,
    `updater` as `updater` ,
    `address` as `address`
</sql>

        <!-- 新增 -->
<insert id="insert" parameterType="User"   useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(
            user_name ,
            password ,
            name ,
            sex ,
            birthday ,
            telephone ,
            email ,
            description ,
            status ,
            creator ,
            create_time ,
            update_time ,
            updater ,
            address ,
        ) VALUES (
        #{user_name},
        #{password},
        #{name},
        #{sex},
        #{birthday},
        #{telephone},
        #{email},
        #{description},
        #{status},
        #{creator},
        #{create_time},
        #{update_time},
        #{updater},
        #{address}
        )
</insert>


        <!-- 更新 -->
<update id="update" parameterType="User">
    UPDATE user
    <trim prefix="SET" suffixOverrides=",">
        <if test="status!=null">
        status = #{status},
        </if>
        <if test="creator!=null">
        creator = #{creator},
        </if>
        <if test="createTime!=null">
        create_time = #{createTime},
        </if>
        <if test="updater!=null">
            updater = #{updater},
        </if>
        <if test="updateTime!=null">
        update_time = #{updateTime},
        </if>
        <if test="userName!=null">
        user_name = #{userName},
        </if>
        <if test="password!=null">
            password = #{password},
        </if>
        <if test="name!=null">
            name = #{name},
        </if>
        <if test="sex!=null">
        sex = #{sex},
        </if>
        <if test="birthday!=null">
            birthday = #{birthday},
        </if>
        <if test="telephone!=null">
            telephone = #{telephone},
        </if>
        <if test="email!=null">
            email = #{email},
        </if>
        <if test="address!=null">
        address = #{address},
        </if>
        <if test="description!=null">
            description = #{description},
        </if>
    </trim>
    WHERE
        id = #{id}
</update>


        <!-- 删除 -->
<delete id="deleteById" parameterType="java.lang.Long">
    DELETE FROM user
    <trim prefix="WHERE" prefixOverrides="AND | OR">
    AND id = #{id}
    </trim>
</delete>


        <!-- 查询 -->
<select id="findById" parameterType="java.lang.Long" resultType="User">
    SELECT
    <include refid="Base_Column_List" />
    FROM user
    <trim prefix="WHERE" prefixOverrides="AND | OR">
    AND id = #{id}
        AND status = 1
    </trim>
</select>


<select id="findAll" resultType="User">
    SELECT
    <include refid="Base_Column_List" />
    FROM user
    <if test="orderBy!=null">
        ORDER BY <foreach collection="orderBy" index="key" item="value" separator="," >${key} ${value}</foreach>
    </if>
</select>




<!--多条件查询一条数据-->
<select id="queryOne" parameterType="java.util.Map" resultType="User">
    SELECT

        <include refid="Base_Column_List" />

    FROM user
    <if test="condition!=null">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            1=1
            <if test="condition.id!=null">
                AND id = #{condition.id}
            </if>
            <if test="condition.status!=null">
                AND
                status = #{condition.status}
            </if>
            <if test="condition.creator!=null">
                AND
                creator = #{condition.creator}
            </if>
            <if test="condition.createTime!=null">
                AND
                create_time = #{condition.createTime}
            </if>
            <if test="condition.updater!=null">
                AND
                updater = #{condition.updater}
            </if>
            <if test="condition.updateTime!=null">
                AND
                update_time = #{condition.updateTime}
            </if>
            <if test="condition.userName!=null">
                AND
                user_name = #{condition.userName}
            </if>
            <if test="condition.password!=null">
                AND
                password = #{condition.password}
            </if>
            <if test="condition.name!=null">
                AND
                name = #{condition.name}
            </if>
            <if test="condition.sex!=null">
                AND
                sex = #{condition.sex}
            </if>
            <if test="condition.birthday!=null">
                AND
                birthday = #{condition.birthday}
            </if>
            <if test="condition.telephone!=null">
                AND
                telephone = #{condition.telephone}
            </if>
            <if test="condition.email!=null">
                AND
                email = #{condition.email}
            </if>
            <if test="condition.address!=null">
                AND
                address = #{condition.address}
            </if>
            <if test="condition.description!=null">
                AND
                description = #{condition.description}
            </if>
        </trim>
    </if>
    limit 0,1
</select>

<select id="queryCount" resultType="java.lang.Integer">

    SELECT count(id) FROM user
    <where>
        <if test="condition!=null">
            <if test="condition.SubSql != null">
                and id in (#{condition.SubSql})
            </if>
            <if test="condition.whereSql != null">
                ${condition.whereSql}
            </if>

            <if test="condition.id!=null">
                ${condition.groupOp} ${condition.id.field} ${condition.id.op}
                <if test="condition.id.op!='in'"> #{condition.id.data} </if>
                <if test="condition.id.op=='in'">
                    <foreach collection="condition.id.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
            <if test="condition.userName!=null">
                ${condition.groupOp} ${condition.userName.field} ${condition.userName.op}
                <if test="condition.userName.op!='in'"> #{condition.userName.data} </if>
                <if test="condition.userName.op=='in'">
                    <foreach collection="condition.userName.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
            <if test="condition.password!=null">
                ${condition.groupOp} ${condition.password.field} ${condition.password.op}
                <if test="condition.password.op!='in'"> #{condition.password.data} </if>
                <if test="condition.password.op=='in'">
                    <foreach collection="condition.password.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>

            <if test="condition.name!=null">
                ${condition.groupOp} ${condition.name.field} ${condition.name.op}
                <if test="condition.name.op!='in'"> #{condition.name.data} </if>
                <if test="condition.name.op=='in'">
                    <foreach collection="condition.name.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
            <if test="condition.sex!=null">
                ${condition.groupOp} ${condition.sex.field} ${condition.sex.op}
                <if test="condition.sex.op!='in'"> #{condition.sex.data} </if>
                <if test="condition.sex.op=='in'">
                    <foreach collection="condition.sex.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
            <if test="condition.birthday!=null">
                ${condition.groupOp} ${condition.birthday.field} ${condition.birthday.op}
                <if test="condition.birthday.op!='in'"> #{condition.birthday.data} </if>
                <if test="condition.birthday.op=='in'">
                    <foreach collection="condition.birthday.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
            <if test="condition.telephone!=null">
                ${condition.groupOp} ${condition.telephone.field} ${condition.telephone.op}
                <if test="condition.telephone.op!='in'"> #{condition.telephone.data} </if>
                <if test="condition.telephone.op=='in'">
                    <foreach collection="condition.telephone.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
            <if test="condition.email!=null">
                ${condition.groupOp} ${condition.email.field} ${condition.email.op}
                <if test="condition.email.op!='in'"> #{condition.email.data} </if>
                <if test="condition.email.op=='in'">
                    <foreach collection="condition.email.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
            <if test="condition.description!=null">
                ${condition.groupOp} ${condition.description.field} ${condition.description.op}
                <if test="condition.description.op!='in'"> #{condition.description.data} </if>
                <if test="condition.description.op=='in'">
                    <foreach collection="condition.description.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>

            <if test="condition.status!=null">
                ${condition.groupOp} ${condition.status.field} ${condition.status.op}
                <if test="condition.status.op!='in'"> #{condition.status.data} </if>
                <if test="condition.status.op=='in'">
                    <foreach collection="condition.status.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
            <if test="condition.creator!=null">
                ${condition.groupOp} ${condition.creator.field} ${condition.creator.op}
                <if test="condition.creator.op!='in'"> #{condition.creator.data} </if>
                <if test="condition.creator.op=='in'">
                    <foreach collection="condition.creator.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
            <if test="condition.createTime!=null">
                ${condition.groupOp} ${condition.createTime.field} ${condition.createTime.op}
                <if test="condition.createTime.op!='in'"> #{condition.createTime.data} </if>
                <if test="condition.createTime.op=='in'">
                    <foreach collection="condition.createTime.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
            <if test="condition.updater!=null">
                ${condition.groupOp} ${condition.updater.field} ${condition.updater.op}
                <if test="condition.updater.op!='in'"> #{condition.updater.data} </if>
                <if test="condition.updater.op=='in'">
                    <foreach collection="condition.updater.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
            <if test="condition.updateTime!=null">
                ${condition.groupOp} ${condition.updateTime.field} ${condition.updateTime.op}
                <if test="condition.updateTime.op!='in'"> #{condition.updateTime.data} </if>
                <if test="condition.updateTime.op=='in'">
                    <foreach collection="condition.updateTime.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                    </foreach>
                </if>
            </if>
        </if>
    </where>

</select>

    <select id="queryPage" resultType="User">
        SELECT
        <include refid="Base_Column_List" />
        FROM user

        <where>
            <if test="condition!=null">
                <if test="condition.SubSql != null">
                    and id in (#{condition.SubSql})
                </if>
                <if test="condition.whereSql != null">
                    ${condition.whereSql}
                </if>

                <if test="condition.id!=null">
                    ${condition.groupOp} ${condition.id.field} ${condition.id.op}
                    <if test="condition.id.op!='in'"> #{condition.id.data} </if>
                    <if test="condition.id.op=='in'">
                        <foreach collection="condition.id.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
                <if test="condition.userName!=null">
                    ${condition.groupOp} ${condition.userName.field} ${condition.userName.op}
                    <if test="condition.userName.op!='in'"> #{condition.userName.data} </if>
                    <if test="condition.userName.op=='in'">
                        <foreach collection="condition.userName.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
                <if test="condition.password!=null">
                    ${condition.groupOp} ${condition.password.field} ${condition.password.op}
                    <if test="condition.password.op!='in'"> #{condition.password.data} </if>
                    <if test="condition.password.op=='in'">
                        <foreach collection="condition.password.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>

                <if test="condition.name!=null">
                    ${condition.groupOp} ${condition.name.field} ${condition.name.op}
                    <if test="condition.name.op!='in'"> #{condition.name.data} </if>
                    <if test="condition.name.op=='in'">
                        <foreach collection="condition.name.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
                <if test="condition.sex!=null">
                    ${condition.groupOp} ${condition.sex.field} ${condition.sex.op}
                    <if test="condition.sex.op!='in'"> #{condition.sex.data} </if>
                    <if test="condition.sex.op=='in'">
                        <foreach collection="condition.sex.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
                <if test="condition.birthday!=null">
                    ${condition.groupOp} ${condition.birthday.field} ${condition.birthday.op}
                    <if test="condition.birthday.op!='in'"> #{condition.birthday.data} </if>
                    <if test="condition.birthday.op=='in'">
                        <foreach collection="condition.birthday.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
                <if test="condition.telephone!=null">
                    ${condition.groupOp} ${condition.telephone.field} ${condition.telephone.op}
                    <if test="condition.telephone.op!='in'"> #{condition.telephone.data} </if>
                    <if test="condition.telephone.op=='in'">
                        <foreach collection="condition.telephone.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
                <if test="condition.email!=null">
                    ${condition.groupOp} ${condition.email.field} ${condition.email.op}
                    <if test="condition.email.op!='in'"> #{condition.email.data} </if>
                    <if test="condition.email.op=='in'">
                        <foreach collection="condition.email.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
                <if test="condition.description!=null">
                    ${condition.groupOp} ${condition.description.field} ${condition.description.op}
                    <if test="condition.description.op!='in'"> #{condition.description.data} </if>
                    <if test="condition.description.op=='in'">
                        <foreach collection="condition.description.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>

                <if test="condition.status!=null">
                    ${condition.groupOp} ${condition.status.field} ${condition.status.op}
                    <if test="condition.status.op!='in'"> #{condition.status.data} </if>
                    <if test="condition.status.op=='in'">
                        <foreach collection="condition.status.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
                <if test="condition.creator!=null">
                    ${condition.groupOp} ${condition.creator.field} ${condition.creator.op}
                    <if test="condition.creator.op!='in'"> #{condition.creator.data} </if>
                    <if test="condition.creator.op=='in'">
                        <foreach collection="condition.creator.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
                <if test="condition.createTime!=null">
                    ${condition.groupOp} ${condition.createTime.field} ${condition.createTime.op}
                    <if test="condition.createTime.op!='in'"> #{condition.createTime.data} </if>
                    <if test="condition.createTime.op=='in'">
                        <foreach collection="condition.createTime.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
                <if test="condition.updater!=null">
                    ${condition.groupOp} ${condition.updater.field} ${condition.updater.op}
                    <if test="condition.updater.op!='in'"> #{condition.updater.data} </if>
                    <if test="condition.updater.op=='in'">
                        <foreach collection="condition.updater.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
                <if test="condition.updateTime!=null">
                    ${condition.groupOp} ${condition.updateTime.field} ${condition.updateTime.op}
                    <if test="condition.updateTime.op!='in'"> #{condition.updateTime.data} </if>
                    <if test="condition.updateTime.op=='in'">
                        <foreach collection="condition.updateTime.data" item="listItem" open="(" close=")" separator=",">#{listItem}
                        </foreach>
                    </if>
                </if>
            </if>
        </where>
        ORDER BY id DESC

        <if test="offset != null">
            limit ${offset}, ${rows}
        </if>

    </select>


    <select id="findListByProperty" resultType="User">
        SELECT
        <include refid="Base_Column_List" />
        FROM user WHERE status = 1 AND
        ${property} = #{value}
        ORDER BY create_time desc

    </select>

    <select id="findByProperty" resultType="User">
        SELECT
        <include refid="Base_Column_List" />
        FROM user WHERE status = 1 AND
        ${property} = #{value}
        ORDER BY create_time desc
        LIMIT 0,1
    </select>

</mapper>
